<div style="font-size: x-large; margin: 0; padding: 0%;  display: flex; flex-direction: column; "  >
    <Nav class="navber" style="display: flex; justify-content:space-around; padding: 10px; height: 2.2rem;">
        <div><a style="text-decoration: none; color: white;"  routerLink="/"> Todos list project </a></div>
        <ul style="display: flex; list-style-type: none; margin: 0;   ">
            <li ><a style="text-decoration: none; color: white;"  routerLink="/"> home </a></li>  
            <!-- now with angular we dont use the href here we will use the routerlink='' -->
            <li style="padding-left: 10px;"><a style="text-decoration: none; color: white;"  routerLink="/about"> about </a></li>
        </ul>
    </Nav>
    

    <router-outlet></router-outlet>

</div>