button {
    height: 2rem;
    align-items: center;
    margin: 5px;
}

.navber {
    background-color: rgb(133, 139, 255);
    color: rgb(255, 255, 255);
}
h3,p,div{
    margin: 0%;
    padding: 0%;
}