<p style="padding-top: 2%; margin: 0%; text-align: center;">Add a Todo</p>
<p style="padding-bottom: 1%; margin: 0%; text-align: center;">(todos will be automatically added to your localstorage)</p>
<form (ngSubmit)="onSubmit()" style="width: 45%; margin: auto;  padding-bottom: 2% !important; padding: 10px; background-color: rgba(133, 152, 161, 0.608); border: 2px solid rgb(222, 222, 222);">    <!-- ngSubmit also do work in the backgroiund like priventDefault() that stops the page from reloding -->
    <div class="">
        <label for="title" style="font-size:xx-large;">todo Title</label>
        <input [(ngModel)]="title" type="text" name="title" id="title" style="width: 100%;" >
    </div>
    <div class="">
        <label for="desc" style="font-size:xx-large;">todo Desc</label>
        <input [(ngModel)]="desc" type="text" name="desc" id="desc" style="width: 100%;" >
    </div>
    <button style="background-color: cadetblue; min-width: 200px; min-height: 30px; margin-top: 20px;" type="submit">Submit</button>
</form>
